
@font-face {
    font-family: Avenir;
    src: url('avenir_ff/Avenir-Medium-09.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Barlow-Medium;
    src: url('Barlow-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
